@import "tailwindcss";

/* Reset container spacing for Chakra compatibility */
body{
    margin: 0;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Make chakra container full width on mobile */
.chakra-container{
  padding-left: 1rem;
  padding-right: 1rem;
}